* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

form {
  margin: auto;
  text-align: center;
}

input {
  margin-bottom: 10px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin: auto;
  background-color: rgb(104, 171, 248);
  margin-top: 10px;
  padding: 10px;
  width: 50%;
  font-size: 20px;
  color: white;
  height: 4rem;
}

button.close {
  float: right;
  padding: 10px;
  font-size: 20px;
  background-color: red;
  border-color: red;
}
